[Unit]
Description=Airflow Scheduler
After=network.target

[Service]
Environment=AIRFLOW_HOME=/home/ubuntu/airflow
ExecStart=/home/ubuntu/venv/bin/airflow scheduler
User=ubuntu
Restart=always

[Install]
WantedBy=multi-user.target

